---
---

/* cspell:disable */
/* COLORS */
:root {
  --mmdoc-color-bg-1: #fff;
  --mmdoc-color-bg-2: #f6f6f7;
  /* Border */
  --mmdoc-color-border-1: #c2c2c4;
  --mmdoc-color-border-2: #e2e2e3;
  --mmdoc-color-border-3: #e2e2e3;
  /* Text */
  --mmdoc-color-text-1: #3c3c43;
  --mmdoc-color-text-2: #67676c;
  --mmdoc-color-text-3: #929295;
  /* Others */
  --mmdoc-color-gray-1: #dddde3;
  --mmdoc-color-gray-2: #e4e4e9;
  --mmdoc-color-gray-3: #ebebef;
  --mmdoc-color-gray-soft: #8e96aa24;
  --mmdoc-color-indigo-1: #3451b2;
  --mmdoc-color-indigo-2: #3a5ccc;
  --mmdoc-color-indigo-3: #5672cd;
  --mmdoc-color-indigo-soft: #646cff24;
  --mmdoc-color-purple-1: #6f42c1;
  --mmdoc-color-purple-2: #7e4cc9;
  --mmdoc-color-purple-3: #8e5cd9;
  --mmdoc-color-purple-soft: #9f7aea24;
  --mmdoc-color-green-1: #18794e;
  --mmdoc-color-green-2: #299764;
  --mmdoc-color-green-3: #30a46c;
  --mmdoc-color-green-soft: #10b98124;
  --mmdoc-color-yellow-1: #915930;
  --mmdoc-color-yellow-2: #946300;
  --mmdoc-color-yellow-3: #9f6a00;
  --mmdoc-color-yellow-soft: #eab30824;
  --mmdoc-color-red-1: #b8272c;
  --mmdoc-color-red-2: #d5393e;
  --mmdoc-color-red-3: #e0575b;
  --mmdoc-color-red-soft: #f43f5e24;
  --mmdoc-color-sponsor: #db2777;
}
.dark,
*[data-theme="dark"] {
  --mmdoc-color-bg-1: #1b1b1f;
  --mmdoc-color-bg-2: #161618;
  /* Border */
  --mmdoc-color-border-1: #3c3f44;
  --mmdoc-color-border-2: #2e2e32;
  --mmdoc-color-border-3: #000;
  /* Text */
  --mmdoc-color-text-1: #dfdfd6;
  --mmdoc-color-text-2: #98989f;
  --mmdoc-color-text-3: #6a6a71;
  /* Others */
  --mmdoc-color-gray-1: #515c67;
  --mmdoc-color-gray-2: #414853;
  --mmdoc-color-gray-3: #32363f;
  --mmdoc-color-gray-soft: #65758529;
  --mmdoc-color-indigo-1: #a8b1ff;
  --mmdoc-color-indigo-2: #5c73e7;
  --mmdoc-color-indigo-3: #3e63dd;
  --mmdoc-color-indigo-soft: #646cff29;
  --mmdoc-color-purple-1: #c8abfa;
  --mmdoc-color-purple-2: #a879e6;
  --mmdoc-color-purple-3: #8e5cd9;
  --mmdoc-color-purple-soft: #9f7aea29;
  --mmdoc-color-green-1: #3dd68c;
  --mmdoc-color-green-2: #30a46c;
  --mmdoc-color-green-3: #298459;
  --mmdoc-color-green-soft: #10b98129;
  --mmdoc-color-yellow-1: #f9b44e;
  --mmdoc-color-yellow-2: #da8b17;
  --mmdoc-color-yellow-3: #a46a0a;
  --mmdoc-color-yellow-soft: #eab30829;
  --mmdoc-color-red-1: #f66f81;
  --mmdoc-color-red-2: #f14158;
  --mmdoc-color-red-3: #b62a3c;
  --mmdoc-color-red-soft: #f43f5e29;
}
:root {
  --mmdoc-max-width: 1440px;
  --mmdoc-icon-copy: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='rgba(128,128,128,1)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Crect width='8' height='4' x='8' y='2' rx='1' ry='1'/%3E%3Cpath d='M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2'/%3E%3C/g%3E%3C/svg%3E");
  --mmdoc-icon-copied: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='rgba(128,128,128,1)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Crect width='8' height='4' x='8' y='2' rx='1' ry='1'/%3E%3Cpath d='M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2'/%3E%3Cpath d='m9 14l2 2l4-4'/%3E%3C/g%3E%3C/svg%3E");
  --mmdoc-shadow-1: 0 1px 2px #0000000a, 0 1px 2px #0000000f;
  --mmdoc-shadow-2: 0 3px 12px #00000012, 0 1px 4px #00000012;
  --mmdoc-font-sans: "Myanmar Inter", sans-serif;
  --mmdoc-font-mono: "Roboto Mono", monospace;
}
/* ---------------------------- */
*,
:before,
:after {
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  line-height: 1.4;
}
body {
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  line-height: 24px;
  font-family: var(--mmdoc-font-sans);
  color: var(--mmdoc-color-text-1);
  background-color: var(--mmdoc-color-bg-1);
  font-synthesis: style;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-autospace: normal;
  text-spacing-trim: normal;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}
main {
  background: var(--mmdoc-color-bg-1);
  display: block;
  margin: 0 auto;
  max-width: var(--mmdoc-max-width);
}
hr {
  height: 0;
  box-sizing: content-box;
  overflow: visible;
}
/* ----------- NAV ---------------------------------------- */
header {
  position: sticky;
  top: 0;
  z-index: 1000;
}
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: var(--mmdoc-max-width);
}
div.left,
div.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3rem;
  margin: 9px 0;
}
a.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.5rem;
  padding: 0.3em 1em;
  color: var(--mmdoc-color-text-1);
  background: none;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  transition:
    background 0.15s,
    color 0.15s,
    border-color 0.15s;
}
a.logo span {
  font-weight: 700;
  font-size: 1rem;
}
div.nav_items {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.5rem;
  padding: 0.3em 1em;
}
a.nav_item {
  color: var(--mmdoc-color-text-1);
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition:
    background 0.15s,
    color 0.15s,
    border-color 0.15s;
}
a.nav_item:hover {
  color: var(--mmdoc-color-indigo-2);
}

div.nav_icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.5rem;
  padding: 0.3em 1em;
}

.nav_icon {
  display: inline-block;
  padding: 0.3em 1em;
  color: var(--mmdoc-color-text-1);
  background: none;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  transition:
    background 0.15s,
    color 0.15s,
    border-color 0.15s;
}
button.nav_icon {
  outline: none;
  border: none;
}

button.nav_icon:focus-visible {
  outline: 2px solid var(--mmdoc-color-indigo-2);
  outline-offset: 2px;
}
