---
---

/* cspell:disable */
:root {
  /* Rouge css */
  --cb-hll: #ffffcc;
  --cb-comment: #146114;
  --cb-err: #a61717;
  --cb-err-bg: #e3d2d2;
  --cb-blk: #000000;
  --cb-gd-bg: #ffdddd;
  --cb-gi-bg: #ddffdd;
  --cb-sgroup: #d01040;
  --cb-vgroup: #008080;
  --cb-mgroup: #009999;
  --cb-ngroup: #990000;
  --cb-ggroup: #aa0000;
  --cb-kcnt: #445588;
  --cb-gpnn: #555555;
  --cb-go: #888888;
  --cb-gu: #aaaaaa;
  --cb-nd: #3c5d5d;
  --cb-ni: #800080;
  --cb-nt: #000080;
  --cb-w: #bbbbbb;
  --cb-sr: #009926;
  --cb-ss: #990073;
  --cb-bp: #999999;
}
.dark,
*[data-theme="dark"] {
  /* Rouge css */
  --cb-hll: #303003;
  --cb-comment: #a2e7a2;
  --cb-err: #e16060;
  --cb-err-bg: #2b1c1c;
  --cb-blk: #ffffff;
  --cb-gd-bg: #220202;
  --cb-gi-bg: #022202;
  --cb-sgroup: #e53864;
  --cb-vgroup: #86f9f9;
  --cb-mgroup: #6ef7f7;
  --cb-ngroup: #f76e6e;
  --cb-ggroup: #f75f5f;
  --cb-kcnt: #7a8ab8;
  --cb-gpnn: #ababab;
  --cb-go: #787878;
  --cb-gu: #545454;
  --cb-nd: #a4c1c1;
  --cb-ni: #f986f9;
  --cb-nt: #8686f9;
  --cb-w: #454545;
  --cb-sr: #6ef790;
  --cb-ss: #f76ed5;
  --cb-bp: #666666;
}
/* Rouge */
.highlight {
  .bp {
    color: var(--cb-bp);
  }
  .ss {
    color: var(--cb-ss);
  }
  .sr {
    color: var(--cb-sr);
  }
  .w {
    color: var(--cb-w);
  }
  .nt {
    color: var(--cb-nt);
  }
  .ni {
    color: var(--cb-ni);
  }
  .nd {
    color: var(--cb-nd);
  }
  .gu {
    color: var(--cb-gu);
  }
  .go {
    color: var(--cb-go);
  }
  .gp,
  .nn {
    color: var(--cb-gpnn);
  }
  .kt,
  .nc {
    color: var(--cb-kcnt);
  }
  .gr,
  .gt {
    color: var(--cb-ggroup);
  }
  .ne,
  .nf,
  .nl {
    color: var(--cb-ngroup);
  }
  .m,
  .li,
  .mo,
  .mi,
  .mh,
  .mf {
    color: var(--cb-mgroup);
  }
  .vc,
  .na,
  .no,
  .no,
  .nv,
  .vg,
  .vi {
    color: var(--cb-vgroup);
  }
  .sb,
  .s,
  .s2,
  .si,
  .sx,
  .s1,
  .se,
  .sh,
  .sc,
  .sd {
    color: var(--cb-sgroup);
  }
  .gi {
    background-color: var(--cb-gi-bg);
  }
  .gd {
    background-color: var(--cb-gd-bg);
  }
  .k,
  .nd,
  .kt,
  .nc,
  .ne,
  .nf,
  .nl,
  .gs,
  .ow,
  .kc,
  .kd,
  .kn,
  .kp,
  .o,
  .kr {
    font-weight: bold;
  }
  .kr,
  .ow,
  .kp,
  .k,
  .o,
  .kc,
  .kd,
  .kn,
  .gd,
  .ge,
  .gi {
    color: var(--cb-blk);
  }
  .err {
    background-color: var(--cb-err-bg);
    color: var(--cb-err);
  }
  .hll {
    background-color: var(--cb-hll);
  }
  .c,
  .cp,
  .cm,
  .c1,
  .cs,
  .gh {
    color: var(--cb-comment);
  }
  .c,
  .cp,
  .cm,
  .c1,
  .cs,
  .ge {
    font-style: italic;
  }
  .cp,
  .cs {
    font-weight: bold;
  }
}
